<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load app_tags %}
</head>

<body style="background-color:#caeef9;">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'ski_home'%}">Home</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="{% url 'main_state_mountain_list' %}">Explore All
              States</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'my_favorites'%}">My Favorites</a>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img
                style="width: 25px;" src="{{ user|gravatar:60 }}" /><b class="caret"></b>  {{ user.username }}</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
              {% if user.is_superuser %}
              <br>
              <li class="nav-item">
                <a href="/admin" target="_blank">Admin</a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
          {% endif %}
        </ul>
  </nav>
  <div class="container-fluid outside_container">
    <div class="row">
      <div class="col-sm-12 main_container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
